@font-face {
    font-family: "fontGame";
    src: url("./font/Pony.ttf");
}

.game {
    background-image: url("./asset/background.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: "fontGame";
    color: aqua;
}

.btnGame {
    width: 120px;
    height: 120px;
    font-size: 50px;
    background-color: aqua;
    border: 5px solid rgb(119, 0, 255);
    border-radius: 10px;
}

.thongbao{
    color: rgb(182, 67, 67);
    font-size: 20px;
}

.thongtintaikhoan {
    color: white;
    font-size: 30px;
}